.loginArea {
    margin: 50vh 50vw;
    padding: 200px;
    transform: translateY(-50%) translateX(-50%);
    color: black;
    background-color: #e68a00;
}

.loginArea > .typeBoxes {
    color: black;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding-right: 200px;
}

.loginArea > .submitButton {
    margin-top: 5px;
    background-color: green;
}
